<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - HealthAI</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>

<body>

<div class="container">

 

    <div class="login-card">
    <h1>🧠 HealthAI System</h1>
    <p>AI-Powered Health Risk Analysis Dashboard</p>

        <!-- EMAIL -->
        <div class="input-box">
            <i class="fa fa-envelope"></i>
            <input type="email" id="email" placeholder="Enter your email address">
        </div>

        <!-- PASSWORD -->
        <div class="input-box">
            <i class="fa fa-lock"></i>
            <input type="password" id="password" placeholder="Enter your password">
            <i class="fa fa-eye toggle" onclick="togglePassword()"></i>
        </div>

        <!-- LOGIN BUTTON -->
        <button class="login-btn" onclick="loginUser()">Log in</button>

    

        <!-- SOCIAL -->
        <div class="socials">
            <button><i class="fab fa-facebook-f"></i> Facebook</button>
            <button onclick="googleLogin()"><i class="fab fa-google"></i> Google</button>
            <button><i class="fab fa-apple"></i> Apple</button>
        </div>

        <!-- SIGNUP -->
        <p class="signup">
            Don't have an account? <a href="/signup">Signup</a>
        </p>
    </div>

</div>

<script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-auth-compat.js"></script>

<!-- JS -->
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>